<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a th:href="@{/task/new}"><button>New Task</button></a>

<h3 th:text="'Tasks by me:'"></h3>
<ul th:each="task : ${tasks}">
    <a th:href=""><li th:text="${task.getTask()}"></li></a>
</ul>
</body>
</html>