a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}

body {
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 70px;
    background-image: url(images/background4.jpg);
    background-size: cover;
    background-attachment: relative;
}

h4 {
    margin: 10px;
    text-align: center;
}

input {
    margin: 5px;
    width:100%;
}

.navbar-default {
    background-color: black;
    opacity: 0.85;
    border-bottom-color: grey;
}

.active {
    background-color: white;
}

.dropdown.open {
    background: black;
}

.dropdown.open .dropdown-toggle {
    background: black;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background: #111 !important;
    color:lightblue !important;
}

.hike {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border: solid;
    border-color: grey;
    border-radius: 5px;
    border-width: 1px;
    opacity: 0.8;
}

.hike-hover:hover {
    /*background-color: darkkhaki;*/
    border-color: grey;
    opacity: 1;
}

.hike-a-apply:hover {
    color: green;
}

.hike-a-refuse:hover {
    color: red;
}

.hike-image {
    border: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 3px;
    width: 128px;
    height: 128px;
}

.regular-size {
    width:auto;
    height:auto;
}

.hike-info {
    margin-top: 7%;
}

.message {
    margin:10px;
    min-height: 40px;
    padding: 10px;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: auto;
}

.income {
    background-color: aliceblue;
    margin-right: 40%;
}

.sent {
    background-color: white;
    text-align: right;
    margin-left: 40%;
}

.navbar-link {
    font-weight: bold;
}

.rating:hover {
    text-decoration: none;
    text-decoration-color: none;
}

.suppress-padding {
    padding: 0px;
}
